.notebook-post {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; /*top laye*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.notebook-post-bg {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.notebook-post-content {
  position: relative;
  max-width: 1200px;
  background-color: black;
}

.notebook-post-content img {
  display: block;
  max-width: 100%;
  max-height: calc(100vh - 120px);
  margin-left: auto;
  margin-right: auto;
}

.notebook-post-content h4 {
  color: white;
  text-align: center;
}
