.app-header {
  border-bottom: 2px solid gray;
  height: 100px;
  display: flex; /*center*/
  justify-content: center; /*horizon*/
  align-items: center; /*vertical*/
}

.app-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 16px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.app-header-logo {
  height: 80px;
}

.notebook-item {
  text-align: center;
}

.notebook-item img {
  display: block;
  width: 100%;
}
