.app-header {
  height: auto;
  width: auto;
  display: flex; /*center*/
  justify-content: center; /*horizon*/
  align-items: center; /*vertical*/
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; */
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}

.app-header-logo {
  height: 100px;
  padding: auto;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* .app-header:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */
