{% extends 'app_general/components/base.html' %}

{% block site_title %}
    {{notebook.id}} | 
{% endblock %}

{% block content %}
{% if notebook is not None %}
<div>
    <h3>{{notebook.title}}</h3>
    <p>{{ notebook.chapters }} chapters</p>
    {% if notebook.is_maths %}
        <p>***มีคณิตศาสตร์***</p>
    {% endif %}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, impedit beatae quasi deleniti praesentium nulla, ut molestiae ullam excepturi saepe maxime laborum quas iusto, tempore animi vitae consequuntur. Accusamus, sequi?</p>
</div>  
{% else %}
    <p>ไม่พบรายวิชานี้</p>
{% endif %}
{% endblock %}