{% extends 'app_general/components/base.html' %}

{% block site_title %}
    รายวิชาทั้งหมด | 
{% endblock %}

{% block content %}
<div>
    <h1>รายวิชาทั้งหมด</h1>
    {% for notebook in notebooks %}
        <div style="background-color: rgb(202, 227, 250);">
            <h3><a href="{% url 'notebook' notebook.id %}">{{notebook.title}}</a></h3>
            <p>{{ notebook.chapters }} chapters</p>
            {% if notebook.is_maths %}
                <p>***มีคณิตศาสตร์***</p>
            {% endif %}
        </div>         
    {% empty %}
        <p>ไม่มีรายวิชา</p>
    {% endfor %} 
</div>
{% endblock %}