{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}
    รายวิชาทั้งหมด | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">รายวิชาทั้งหมด</h1>
        {% if notebooks.count > 0 %}
            <div class="grid grid-3">
                {% for notebook in notebooks %}
                <div class="notebook-card">
                    <a href="{% url 'notebook' notebook.id %}">
                        <img class= "notebook-image" src="{% static notebook.image_relative_url %}">
                    </a>
                    <div class="notebook-description">
                        <h5>
                            <a href="{% url 'notebook' notebook.id %}">
                                {{ notebook.code }} {{notebook.title}}
                            </a>
                        </h5>
                        <p>{{ notebook.chapters }} chapters</p>
                        <!-- {% if notebook.is_maths %}
                            <p>***มีคณิตศาสตร์***</p>
                        {% endif %} -->
                    </div>
                </div>         
                {% endfor %}
            </div>
        {% else %}
            <p>ไม่พบรายวิชา</p>
        {% endif %} 
    </div>
</section>
{% endblock %}