/* mitr-300 - latin_thai */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/mitr-v11-latin_thai-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mitr-regular - latin_thai */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/mitr-v11-latin_thai-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*global*/
*, ::before, ::after {
  box-sizing: border-box;
}

html{
  color: #333333;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  color: #111111;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0px;
  margin-bottom: 16px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
}

p{
  font-size: 16px;
  line-height: 1.6;
}

a{
  color: rgb(18, 167, 231);
}

/*site-header*/
.site-header{
  background-color: rgb(200, 239, 252);
  border-bottom: 1px solid rgb(215,215,215);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.site-header-item{
  color: #111111;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  transition: background-color 500ms;
}

.site-header-item:hover{
  background-color: rgba(0, 0, 0, 0.1);

}

.site-header-brand img{
  display: inline-block;
  height: 32px;
  margin-right: 8px;
}

/*site-footer*/
.site-footer{
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 16px;
}

.site-footer-copyrigth{
  font-size: 12px;
}