/* mitr-300 - latin_thai */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/mitr-v11-latin_thai-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mitr-regular - latin_thai */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/mitr-v11-latin_thai-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*global*/
*, ::before, ::after {
  box-sizing: border-box;
}

.button{
  color: #ffffff;
  background-color: #807e7e;
  border: none;
  border-radius: 8px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 16px;
  text-decoration: none;
  cursor: pointer;
}

.button-primary{
  background-color: rgb(58, 107, 244);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content-section{
  padding: 64px 16px;
}

.content-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-container-narrow{
  max-width: 600px;
}

.content-title{
  margin-bottom: 24px;
}

.content-section-single{
  min-height: 100vh;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 720px){
  .grid-2{
    grid-template-columns: 1fr 1fr;
  }

  .grid-3{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.img-block{
  display: block;
  max-width: 100%;
  margin-bottom: 12px;
}

html{
  color: #333333;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  color: #111111;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0px;
  margin-bottom: 16px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
}

p{
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0px;
  margin-bottom: 16px;
}

a{
  color: rgb(18, 167, 231);
}

.text-center{
  text-align: center;
}

/*site-header*/
.site-header{
  background-color: rgb(177, 233, 252);
  border-bottom: 1px solid rgb(215,215,215);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.site-header-item{
  color: #111111;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  transition: background-color 500ms;
}

.site-header-item:hover{
  background-color: rgba(0, 0, 0, 0.1);

}

.site-header-brand img{
  display: inline-block;
  height: 32px;
  margin-right: 8px;
}

/*site-footer*/
.site-footer{
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 16px;
}

.site-footer-copyrigth{
  font-size: 12px;
}

/*form*/
.form-field{
  margin-bottom: 16px;
}

label{
  display: block;
  margin-bottom: 4px;
  line-height: 1.6;
}

input[type='text'],
input[type='email']{
  background-color: #ffffff;
  border: 1.5px solid #888888;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  height: 35px;
  width: 100%;
  padding: 4px 12px;
  outline: none;
}

input[type='text']:focus,
input[type='email']:focus{
  border-color: rgb(32, 53, 210);
}

/*home-landing-section*/
.home-landing-section{
  background-color: #dffcfb;
  /* background-image: url('logo.png'); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 108px 16px;
}

.home-landing-text{
  text-shadow: 1px 1px 2px rgba(214, 214, 214, 0.8);
  margin-top: 0px;
  margin-bottom: 24px;
}

/*notebook*/
.notebook-description{
  padding: 2px 16px;
}

.notebook-description a{
  color: #111111;
  text-decoration: none;
}

.notebook-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.notebook-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.notebook-image{
  display: block;
  max-width: 100%;
  margin-bottom: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}