{% extends 'app_general/components/base.html' %}

{% block site_title %}
    เกี่ยวกับ | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">About CPEnotebook</h1>
        <h4>วัตถุประสงค์</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero velit dolorem facere consectetur, sint officia repellendus magnam fuga iusto nostrum possimus reiciendis voluptas omnis, praesentium, vel aut. Magni, ullam mollitia.</p>
        <h4>ทำอะไรได้บ้าง</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero velit dolorem facere consectetur, sint officia repellendus magnam fuga iusto nostrum possimus reiciendis voluptas omnis, praesentium, vel aut. Magni, ullam mollitia.</p>
</section>
{% endblock %}