<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPEnotebook</title>
</head>
<body>
    <header style="background-color: lightgrey;">
        <a href="#">CPEnotebook</a>
        <a href="#">รายวิชาทั้งหมด</a>
        <a href="#">เกี่ยวกับ</a>
    </header>
    <div>
        <h1>CPEnotebook</h1>
        <p>รวมสไลด์รายวิชาในหลักสูตรวิศวกรรมคอมพิวเตอร์ สำหรับวิศวกรคอมพิวเตอร์</p>
    </div>
    <footer style="background-color: lightgray;">
        <h5>about us</h5>
        <p>
            <a href="#">Github</a>
        </p>
        <p>Copyright 2023-2024 CPEnotebook. All right reserved.</p>
    </footer>
</body>
</html>