{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}
<section class="home-landing-section">
    <h1 class="home-landing-text">CPEnotebook</h1>
    <p class="home-landing-text">รวมสไลด์รายวิชาในหลักสูตรวิศวกรรมคอมพิวเตอร์ สำหรับวิศวกรคอมพิวเตอร์</p>
    <p class="home-landing-text">
        <a class="button" href="{% url 'notebooks' %}">รายวิชาทั้งหมด</a>
        <a class="button button-primary" href="{% url 'library' %}">บันทึกรายวิชา</a>
    </p>
</section>
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">คำอธิบาย</h4>
        <div class="grid grid-3">
            <div>               
                <img class="img-block" src="{% static 'app_general/library.jpg' %}">                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus illo tempora ipsam quasi a sunt. Fugiat placeat temporibus iusto nobis ipsa veniam vel, soluta modi. Aut nobis ratione recusandae.</p>
            </div>
            <div>
                <img class="img-block" src="{% static 'app_general/library.jpg' %}">               
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus illo tempora ipsam quasi a sunt. Fugiat placeat temporibus iusto nobis ipsa veniam vel, soluta modi. Aut nobis ratione recusandae.</p>
            </div>
            <div>
                <img class="img-block" src="{% static 'app_general/library.jpg' %}">                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus illo tempora ipsam quasi a sunt. Fugiat placeat temporibus iusto nobis ipsa veniam vel, soluta modi. Aut nobis ratione recusandae.</p>
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">เกี่ยวกับ CPEnotebook</a>
        </p>
    </div>
</section>

{% endblock %}